
package org.jboss.as.console.client.plugins;

import java.util.*;

public class RequiredResourcesRegistryImpl implements RequiredResourcesRegistry {

    private Set<RequiredResourcesMetaData> metaData;
    private ResourceMapping resourceMapping;

    public RequiredResourcesRegistryImpl() {

        this.metaData = new HashSet<RequiredResourcesMetaData>();
        this.resourceMapping = new ResourceMapping();

        <#list metaData as md>
            resourceMapping.put("${md.getToken()}", "${md.getResource()}", "${md.isRecursive()}");
        </#list>

        <#list operations as op>
            resourceMapping.addOperation("${op.getToken()}", "${op.getOperation()}");
        </#list>
    }

    public Set<String> getTokens() {
        return resourceMapping.getTokens();
    }

    public Set<String> getResources(String token) {
         return resourceMapping.getResources(token);
    }

    public Set<String> getOperations(String token) {
        return resourceMapping.getOperations(token);
    }

    public boolean isRecursive(String token) {
        return resourceMapping.isRecursive(token);
    }
}