.gwt-MenuBar {
    padding:4px;
    background-color:#F9F9F9;
    border:1px solid #cccccc;
}

.gwt-MenuItem {
    background-color:#F9F9F9;
    padding:4px;
    cursor:pointer;
}

.gwt-MenuItem:hover {
    font-weight:BOLD;
}

.gwt-MenuItem-selected {
    font-weight: BOLD;
}

.gwt-MenuBarPopup {
    z-index:1000;
}

.editorMenu {

}

.progess-window {
    background-color: #ffffff!important;
    z-index: 50;
}

.gwt-Frame {
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
    border: 0px none;
    margin: 0px
}

.server-picker-wrapper {
    padding:10px;
}

.server-picker-stack {
    margin-top:0px!important;
}

.server-picker-section-header {

    /* fallback */
    background-color: #f6f6f6;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#eeeeee));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #f9f9f9, #eeeeee);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #f9f9f9, #eeeeee);

    /* IE 10 */
    background: -ms-linear-gradient(top, #f9f9f9, #eeeeee);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #f9f9f9, #eeeeee);


    border-bottom: 1px solid #CFCFCF !important;
    color: #666666;
    height: 25px;
    line-height: 12px !important;
    margin-bottom: 10px;
    padding-left: 10px!important;
    padding-top: 14px!important;
}

.domain-section-header {
    background: -moz-linear-gradient(center top , #F9F9F9, #EEEEEE) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #CFCFCF !important;
    color: #333333;
    cursor: pointer;
    height: 25px;
    line-height: 12px !important;
    margin-bottom: -9px;
    padding-left: 10px!important;
    padding-top: 13px!important;
    width: 100%;
}

.header-link-label {
    padding-left:13px!important;
    padding-right:13px!important;
}


.browser-tree * .gwt-TreeItem {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
    border-top: 1px solid rgba(0, 0, 0, 0) !important;
    margin-bottom: 0;
    padding-right: 10px;
    padding-left: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.browser-tree  * .gwt-TreeItem:hover {
    background: none repeat scroll 0 0 #D4EDFA !important;
    border-color: #B3D3E7 !important;
    color:#4E5255!important;
}

.browser-tree * .gwt-TreeItem-selected {
    background: none repeat scroll 0 0 #477EAF !important;
    border-color: #0076B7 !important;
    color: #FFFFFF !important;

}

.browser-tree * .gwt-TreeItem-selected:hover {
    /*background: none repeat scroll 0 0 #0099D3 !important;*/
    background: none repeat scroll 0 0 #477EAF !important;
    border-color: #0076B7 !important;
    color: #FFFFFF !important;
}

.split-west * hr {
    background-color: #DCDCDC;
    border: 0 none;
    height: 1px;
    margin-top: 18px;
    width: 80%;
}

.gwt-ToggleButton {
    display: inherit;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
    cursor:pointer;
    border: 1px solid #ADADAD;
    color: #333333;
}

.gwt-ToggleButton-up-disabled, .gwt-ToggleButton-down-disabled {
    color:#cccccc;
    text-decoration: line-through;
    border:1px solid #DCDCDC;
}

.gwt-ToggleButton-up, .gwt-ToggleButton-up-hovering {
    background-color: #ffffff;
}

.gwt-ToggleButton-down, .gwt-ToggleButton-down-hovering {
    background-color: #EBEBEB;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.doc-table {
    border:none!important;
    margin-left: 0px!important;
    margin-right: 0px!important;
    width: 100%!important;
}

.node-header {
    color: #4D5258;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 20px !important;
    font-weight: 300;
}


.node-header * td {
    color: #4D5258;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 20px !important;
    font-weight: 300;
}

.node-header-link {
    color: #477EAF;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}

/*
.rhs-content-panel {
    padding: 15px!important;
    margin-top: 15px;
}
*/

.browser-view .form-view-panel, .browser-view .form-edit-panel {
    background: none!important;
}

.browser-view-nav {
    padding:10px;
    margin-bottom:100px;
}

.search-result .cellListEvenItem {
    padding:4px;
}

.search-result .cellListOddItem {
    padding:4px;
}

/* metrics */

.metric-container {
    width:100%;
    vertical-align: middle;
}

.metric-label {
    color: #333333;
    font-size: 16px;
    font-weight: 300 !important;
    border-bottom:1px solid #E9E6E6;
    padding-bottom:5px;
    margin-bottom: 8px;
    line-height: 1.1;
}

.metric-label-embedded {
    color: #333333;
    font-size: 16px;
    font-weight: 300 !important;
    border-top:none;
    padding-top:10px;
    margin-bottom: 8px;
    line-height: 1.1;
}

.metric-grid {
    margin-top:5px;
}

.metric-grid * td {
    padding-left:4px;
}

.metric-grid .nominal {

}

.metric-grid .numerical {
    text-align: right;
}

.metric-grid .baseline > td {
    vertical-align: top;
}

.lhs-toggle {
    font-size: 18px;
    cursor: pointer;
    color:#CFCFCF;
    padding-top:3px;
    padding-left:5px;
    z-index:10;
}

.lhs-toggle:hover {
    color:#4E5255;
}

.refresh-link {

}