.gwt-MenuBar {
    padding:4px;
    border:1px solid #cccccc;
}

.gwt-MenuItem {

    padding:5px;
    cursor:pointer;
}

.gwt-MenuItem:hover {
    font-weight:BOLD;
}

.gwt-MenuItem-selected {
    font-weight: BOLD;
}

.gwt-MenuBarPopup {
    z-index:1000;
}

.editorMenu {

}

.progess-window {
    background-color: #ffffff!important;
    z-index: 50;
}

.gwt-Frame {
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
    border: 0px none;
    margin: 0px
}

.server-picker-wrapper {
    padding:10px;
}

.server-picker-stack {
    margin-top:0px!important;
}

.server-picker-section-header {

    /* fallback */
    background-color: #f6f6f6;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#eeeeee));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #fafafa, #eeeeee);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #fafafa, #eeeeee);

    /* IE 10 */
    background: -ms-linear-gradient(top, #fafafa, #eeeeee);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #fafafa, #eeeeee);


    border-bottom: 1px solid #CFCFCF !important;
    color: #666666;
    height: 25px;
    line-height: 12px !important;
    margin-bottom: 10px;
    padding-left: 10px!important;
    padding-top: 14px!important;
}

.domain-section-header {
    background: -moz-linear-gradient(center top , #F9F9F9, #EEEEEE) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #CFCFCF !important;
    color: #333333;
    cursor: pointer;
    height: 25px;
    line-height: 12px !important;
    margin-bottom: -9px;
    padding-left: 10px!important;
    padding-top: 13px!important;
    width: 100%;
}

.header-link-label {
    padding-left:13px!important;
    padding-right:13px!important;
}


.browser-tree * .gwt-TreeItem {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
    border-top: 1px solid rgba(0, 0, 0, 0) !important;
    margin-bottom: 0;
    padding-right: 10px;
    padding-left: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.browser-tree  * .gwt-TreeItem:hover {
    background: none repeat scroll 0 0 #D4EDFA !important;
    border-color: #B3D3E7 !important;
    color:#4E5255!important;
}

.browser-tree * .gwt-TreeItem-selected {
    background: none repeat scroll 0 0 #477EAF !important;
    border-color: #0076B7 !important;
    color: #FFFFFF !important;

}

.browser-tree * .gwt-TreeItem-selected:hover {
    /*background: none repeat scroll 0 0 #0099D3 !important;*/
    background: none repeat scroll 0 0 #477EAF !important;
    border-color: #0076B7 !important;
    color: #FFFFFF !important;
}

.split-west * hr {
    background-color: #DCDCDC;
    border: 0 none;
    height: 1px;
    margin-top: 18px;
    width: 80%;
}

.gwt-ToggleButton {
    display: inherit;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
    cursor:pointer;
    border: 1px solid #ADADAD;
    color: #333333;
}

.gwt-ToggleButton-up-disabled, .gwt-ToggleButton-down-disabled {
    color:#cccccc;
    text-decoration: line-through;
    border:1px solid #DCDCDC;
}

.gwt-ToggleButton-up, .gwt-ToggleButton-up-hovering {
    background-color: #ffffff;
}

.gwt-ToggleButton-down, .gwt-ToggleButton-down-hovering {
    background-color: #EBEBEB;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.doc-table {
    border:none!important;
    margin-left: 0px!important;
    margin-right: 0px!important;
    width: 100%!important;
}

.node-header {
    color: #4D5258;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 20px !important;
    font-weight: 300;
}


.node-header * td {
    color: #4D5258;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 20px !important;
    font-weight: 300;
}

.node-header-link {
    color: #477EAF;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}

/*
.rhs-content-panel {
    padding: 15px!important;
    margin-top: 15px;
}
*/

.browser-view .form-view-panel, .browser-view .form-edit-panel {
    background: none!important;
}

.browser-view-nav {
    padding:10px;
    margin-bottom:100px;
}

.search-result .cellListEvenItem {
    padding:4px;
}

.search-result .cellListOddItem {
    padding:4px;
}

/* metrics */

.metric-container {
    width:100%;
    vertical-align: middle;
}

.metric-label {
    color: #333333;
    font-size: 16px;
    font-weight: 300 !important;
    border-bottom:1px solid #E9E6E6;
    padding-bottom:5px;
    margin-bottom: 8px;
    line-height: 1.1;
}

.metric-label-embedded {
    color: #333333;
    font-size: 16px;
    font-weight: 300 !important;
    border-top:none;
    padding-top:10px;
    margin-bottom: 8px;
    line-height: 1.1;
}

.metric-grid {
    margin-top:5px;
}

.metric-grid * td {
    padding-left:4px;
}

.metric-grid .nominal {

}

.metric-grid .numerical {
    text-align: right;
}

.metric-grid .baseline > td {
    vertical-align: top;
}

.lhs-toggle {
    font-size: 18px;
    cursor: pointer;
    color:#CFCFCF;
    padding-top:3px;
    padding-left:5px;
    z-index:10;
}

.lhs-toggle:hover {
    color:#4E5255;
}

.refresh-link {

}

.top-level-tools {
    padding:2px;
}

.top-level-tools td {
    border-left: 1px solid #53565B;
    padding-left:2px;
    padding-right:2px;
}

.top-level-menu .menu-item {
    line-height: 22px;
    padding-left: 5px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

.top-level-menu .menu-item:hover {
    background-color: #C7E5F0;
    border-bottom-color: #4DB9E7;
    border-top-color: #4DB9E7;
}

.notification-center td {
    border:none!important;
}

.csp-link-selected {
    background-color: #717479;
}

.form-item-help-desc {
    font-size: 10px;
    padding-left:10px;
    position: relative;
    top:-6px;
    color: #cccccc;
}

.navigation-column {

    background-color: #FCFCFC;
}

.navigation-column-item {
    min-height: 20px;
    overflow: hidden !important;
    padding: 7px;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    word-wrap: normal;
}

.navigation-cell-table {
    border:none;
    width: 100%;
    background-color: #FCFCFC;
}

.navigation-cell-table .cellTableCell {
    padding: 5px 0 5px 0;
    border:none!important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 250px;
    line-height: 20px;
}

.navigation-cell-table .cellTableFirstColumn {
    padding: 5px 0 5px 10px!important;
}

.navigation-cell-table .cellTableLastColumn {
    border-right: none;
}

.navigation-cell-table .cellTableHoveredRow {
    background-color: #fafafa;
    -webkit-transition: background-color .1s ease-in-out;
    -moz-transition: background-color .1s ease-in-out;
    transition: background-color .1s ease-in-out;
    cursor: pointer;
}

.navigation-cell-table .cellTableSelectedRow {
    background: #D8D8D8;
}

/*.navigation-cell-table .cellTableKeyboardSelectedRow {
    background: lightslategray!important;
}

.navigation-cell-table .cellTableKeyboardSelectedRow > td {
    color:white!important;
}*/

.navigation-cell-table  .cellTableSelectedRow .cellTableFirstColumn {
    border-left: none;
    padding-left: 10px;
}

.navigation-cell-table .cellTableKeyboardSelectedRowCell {
}

.navigation-cell-table .cellTableKeyboardSelectedRow .cellTableFirstColumn {

    background-color: none;
}

.navigation-cell-table .cellTableKeyboardSelectedRow .cellTableLastColumn {

}

.navigation-cell-table .cellTableSelectedRow .cellTableKeyboardSelectedRowCell {
    border: none;
}

.navigation-cell-table .cellTableSelectedRow .cellTableKeyboardSelectedRow .cellTableFirstColumn {
    border: none;
}

.navigation-cell-table .cellTableSelectedRow.cellTableKeyboardSelectedRow .cellTableLastColumn {
    border: none;
}

.navigation-cell-table .inactive .cellTableFirstColumn {
    border-left:4px solid #EC7A08!important;
}

.navigation-cell-table .paused .cellTableFirstColumn {
    border-left:4px solid #cecece!important;
}

.navigation-cell-table .noReferenceServer .cellTableFirstColumn {
    border-left:4px solid #CC0000!important;
}

.active .cellTableSelectedRow {
    background-color: #D4EDFA;
}


.nav-menu {
    display: none;
    padding-right: 5px;
}

.nav-hover .cellTableSelectedRowCell .nav-menu {
    display: inherit;
}

.no-menu .cellTableSelectedRowCell .nav-menu {
    display: none!important;
}

/*.nav-hover .nav-menu {
    display: inherit;
}*/

.folder-view .row-icon {

}

.file-view .row-icon {
    display: none;
}

.application-panel-glass {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #ffffff !important;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    opacity: 1;
    z-index: 5;
}

.btn-group, .btn-group-vertical {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding-left: 5px;
}

.top-level .btn-group {
    background: none!important;
}

.active .row-level .btn-group {
    background-color: #D4EDFA;
}

.row-level .btn-group {
    background-color: #D8D8D8;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-group > .btn:first-child {
    margin-left: 0;
    margin-right: 0;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
    position: relative;
    float: left;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    background:#ffffff;
    border: 1px solid #bbbbbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    padding: 3px 5px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size:12px!important;
    line-height:15px;
}

.btn:hover {
    background-color: #D9D9D9;
}

.btn-primary {
    background-color: #337AB7;
    border-color: #2E6DA4;
    color: #FFFFFF;
}
.btn-primary:hover {
    background-color: #286090;
    border-color: #204D74;
    color: #FFFFFF;
}

.btn-group > .btn + .dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
    border-left: medium none;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn .caret {
    margin-left: 0;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);

    float: left;
    font-size: 14px;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}

.default-window-content .gwt-TabLayoutPanelTabs {
    background: none;
}

.default-window-content .gwt-TabLayoutPanelTab {
    background: none;
}

.default-window-content .tab-space-right {
    background: none;
}

.default-window-content .title-bar-panel {
    background: none;
}

.header-breadcrumb {
    background-color: #fafafa;
    font-size:16px;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#000000!important;
}



.force-overflow {
    overflow: auto!important;
}

.scrolling {

}

.empty-finder-column {
    color: #CCCCCC;
    height: 50px;
    padding-top: 22px;
    text-align: center;
    width: 100%;
}

.finder-col-header {
    border-bottom: 1px solid #CFCFCF !important;
    color: #333333;
    background-clip: padding-box;
    background-color: #F9F9F9;
    background-image: linear-gradient(to bottom, #FAFAFA 0px, #EDEDED 100%);
    background-repeat: repeat-x;
}

.finder-col-title {
    font-size: 12px;
    font-weight: BOLD;
    padding:13px;
}

.preview-content {
    max-width: 600px;
    height:100%;
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
}

.preview-content .preview-content{
    height:100%;
    padding:0 0!important;
}


.preview-content h1 {
    font-size: 22px;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 400;
}


.preview-content h2 {
    font-size: 18px;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 400;
}

.preview-content a {
    font-weight: BOLD;
}


/*paged applictions*/

.paged-view-navigation {
    border-right: none!important;
    border-bottom:none!important;

    padding-top:30px;
    padding-left:25px;
}

.link-bar-first {
    left: -10px;
    position: relative;
}

.link-bar-active {
    border: 1px solid #0099D3 !important;
}

.link-bar {
    text-align: left!important;
    line-height: 25px;
    min-width:100px!important;
}

#PagedView .gwt-SplitLayoutPanel-HDragger {
    border: medium none !important;
}


.InfoBlock, .ConfirmationBlock, .WarnBlock, .ErrorBlock, .FatalBlock {
    cursor: pointer;
    color:#ffffff;
    padding: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #FCFCFC;
    -moz-box-shadow: 2px 2px 3px #505050;
    -webkit-box-shadow: 2px 2px 3px #505050;
    box-shadow: 2px 2px 3px #505050;
    z-index: 1000;
}

.InfoBlock {
    background-color: #006E9C;
}
.ConfirmationBlock{
    background-color: #3F9C35;
}
.WarnBlock{
    background-color: #EC7A08;
}
.ErrorBlock, .FatalBlock {
    background-color: #CC0000;
}

.list-InfoBlock  {
    border-left:3px solid #006E9C;
}
.list-ConfirmationBlock {
    border-left:3px solid #3F9C35;
}
.list-WarnBlock {
    border-left:3px solid #EC7A08;
}
.list-ErrorBlock , .list-FatalBlock {
    border-left:3px solid #CC0000;
}

.notification-display {
    font-size: 14px!important;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gwt-Button {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.gwt-PopupPanel {
    z-index: 50;
}


/*font size issues*/


h1,
.h1,
h2,
.h2,
h3,
.h3 {
    font-weight: 500;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

h1,
.h1 {
    font-weight: 500;
    line-height: 1.1;
    font-size: 24px;
}
h2,
.h2 {
    font-weight: 500;
    line-height: 1.1;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}
h3,
.h3 {
    font-weight: 500;
    line-height: 1.1;
    font-weight: 500;
    line-height: 1.1;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}
